body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-top: 0px;
    margin-left: 0px;
}
p, a {
  font-size: 12px;
  line-height: 12px;
  margin: 0px;
  margin-bottom: 10px;
  }
  a {
    margin-left: 10px;
  }
  h4 {
    margin-top: 10px;
    margin-bottom: 5px;
  }
  label {
    font-size: 12px;
  }
  #controls {
    padding: 5px;
    margin-bottom: 15px;
  }
#container{
    display: flex;
}
#filtros{
    background-color: whitesmoke;
    display: block;
    width: 100%;
    height: 100%;
}
#map{
    margin-top: 1,5%;
    width: 100%;
    height: 500px;
    border: 1px solid black;
    display: block;
}

#legend1{
    margin-top: 3px;
    opacity: 0.85;
    background-color: #99CCFF;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    width: 300px;
    border: 1px solid gray;
    display: block;
    float: left;
}
